@media screen and (max-width: 600px) {
   .cheak-1st{
    flex-direction: column;
   }
   .part1-head{
    display: flex;
    gap: 30px;
    

    flex-direction: column;
   }

    .move{
        flex-direction: column;
       }
       .btn-work{
        flex-direction: column;
        
       }
       .part-2{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: 45px;
     
       }
       .colorf{
        padding-right: 0px !important;
        margin-right: 40px;
        
       }
}
@media  screen and (max-width : 600px) {
    .part-main{
        flex-direction: column-reverse;
        padding-right: 170px;
    }
    .part-flex{
        flex-direction: column-reverse;
        padding-right: 170px;
    }
    .game{
        flex-direction: column;
    }
    .img-fact{
        padding-left: 150px;
    }
    
}